.App-intro {
  font-size: 1.4rem;
}

.container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    flex: 1;
  }

}

.container,
.container > li a {
  display: block;
  text-align: center;
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
}

footer {
  background-color: #000;
  color: #FFF;
  padding: 5px 0;
  display: block;
  text-align: center;

  a {
    color: white;
  }
}