.tides {
  display: flex;
}

.tide {
  border: 1px solid red;
  width: 50px;
  display: flex;
}

.dailyTides {
  border: 1px solid white;
  color: #FFF;
  flex-direction: row;
}

.tideEvents {
  display: flex;
  div {
    padding: 4px;

    span {
      &.time {
        display: block;
      }
    }

  }
}

.times div {
  padding: 4px;
}

.HighWater {
  color: blue
}

.LowWater {
  color: red
}

.tideEvents .prev:before {
  //  content: '<<';
}

.tideEvents .next:after {
  //    content: '>>';
}